.InputfieldEmbed{
    position: relative;
}

.InputfieldEmbed__spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 30px;
    height: 30px;
}

.InputfieldEmbed__overlay{
    position: absolute;
    inset: 0;
    z-index: 3;
    background: var(--pw-blocks-background);
    opacity: .7;
}
/* real preview */
.InputfieldEmbed .embed-preview .embed__iframe{
    width: 100%;
    height: 100%;
} 

.InputfieldEmbed__src-url-button{
    background: none !important;
    border: none !important;
}
.InputfieldEmbed__src_url{
    padding-right: 50px;
}
.InputfieldEmbed__src-url-button{
    background: none !important;
    border: none !important;
    font-size: 1em;
    color: var(--pw-muted-color) !important;
    cursor: pointer;
}

.InputfieldEmbed__url-button:focus-visible, .InputfieldEmbed__url-button:hover{
    color: var(--pw-button-hover-background) !important;
}

.InputfieldEmbed .Inputfield + .Inputfield .InputfieldHeader {
    padding-top: 0px;
}

.InputfieldEmbed .embed-preview .embed-figure{
    margin-bottom: 0;
}
.InputfieldEmbed .InputfieldTinyMCEInline{
    padding: 7px 10px !important;
    min-height: 40px !important;
}

.InputfieldEmbed .tox .tox-tbtn--select{
    padding: 0px;
}